# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

# Setting "build and deploy" trigger - master branch with 'build' tag
trigger:
  batch: true
  tags:
    include:
      - Build
  paths:
    exclude:
      - README.md


resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'ascicdacr'
  imageRepositoryFE: 'fe-nginx'
  imageRepositoryBE-nginx: 'be-nginx'
  imageRepositoryBE-php: 'be-php'
  containerRegistry: 'ascicdacr.azurecr.io'
  dockerfilePathFE: './frontend/Dockerfile'
  dockerfilePathBE-nginx: './backend/Dockerfile-nginx'
  dockerfilePathBE-php: './backend/Dockerfile-php'
  frontendContext: './frontend/'
  backendContext: './backend/'
#  tag: '$(Build.BuildId)'
  tag: 'latest'
  imagePullSecret: 'ascicdacr-auth'
  env_type: 'prod'
  k8sNamespace: 'azure-pipeline'
  k8sConnection: 'as-cicd-k8s'
  DB_HOST: 'as-cicd-dbserver.mysql.database.azure.com'
  DB_NAME: 'api_db'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build FE image
      inputs:
        command: Build
        repository: $(imageRepositoryFE)
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: $(frontendContext)
        dockerfile: $(dockerfilePathFE)
        arguments: '--build-arg ENV_TYPE=$(env_type)'
        tags: $(tag)
    - task: Docker@2
      displayName: Build BE-nginx image
      inputs:
        command: Build
        repository: $(imageRepositoryBE-nginx)
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: $(backendContext)
        dockerfile: $(dockerfilePathBE-nginx)
        arguments: '--build-arg ENV_TYPE=$(env_type)'
        tags: $(tag)
    - task: Docker@2
      displayName: Build BE-php image
      inputs:
        command: Build
        repository: $(imageRepositoryBE-php)
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: $(backendContext)
        dockerfile: $(dockerfilePathBE-php)
        arguments: |
          --build-arg ENV_TYPE=$(env_type)
          --build-arg DB_USERNAME=$(DB_USERNAME)
          --build-arg DB_PASSWORD=$(DB_PASSWORD)
          --build-arg DB_HOST=$(DB_HOST)
          --build-arg DB_NAME=$(DB_NAME)
        tags: $(tag)

    - task: Docker@2
      displayName: Push FE image to container registry
      inputs:
        command: Push
        repository: $(imageRepositoryFE)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: $(tag)
    - task: Docker@2
      displayName: Push BE-nginx image to container registry
      inputs:
        command: Push
        repository: $(imageRepositoryBE-nginx)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: $(tag)
    - task: Docker@2
      displayName: Push BE-php image to container registry
      inputs:
        command: Push
        repository: $(imageRepositoryBE-php)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: $(tag)

    - upload: manifests
      artifact: manifests

- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build

  jobs:
  - deployment: Deploy
    displayName: Deploy to AKS
    pool:
      vmImage: $(vmImageName)
    environment: 'prod'
    strategy:
      runOnce:
        deploy:
          steps:

          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              kubernetesServiceConnection: $(k8sConnection)
              secretName: $(imagePullSecret)
              namespace: $(k8sNamespace)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              kubernetesServiceConnection: $(k8sConnection)
              namespace: $(k8sNamespace)
              manifests: |
                $(Pipeline.Workspace)/manifests/deployment.yml
                $(Pipeline.Workspace)/manifests/service.yml
                $(Pipeline.Workspace)/manifests/ingress.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepositoryFE):$(tag)
                $(containerRegistry)/$(imageRepositoryBE-nginx):$(tag)
                $(containerRegistry)/$(imageRepositoryBE-php):$(tag)

